<% include ../partials/header.ejs %>


<!-- Navigation -->
<nav class="navbar navbar-expand-md bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">See ME</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/admin"> Back To Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-6">
                <form role="form" class="lead" method="post" action="/admin/add" enctype="multipart/form-data">
                    <h3 class="">Done anything new? Fill the form</h3>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="form-control input-md">
                    </div>
                    <div class="form-group">
                        <label for="service">Service</label>
                        <input type="text" name="service" id="service" class="form-control input-md">
                    </div>
                    <div class="form-group">
                        <label for="client">Client</label>
                        <input type="text" name="client" id="client" class="form-control input-md">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="5" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="url">Project Url</label>
                        <input type="url" name="url" id="url" class="form-control input-md">
                    </div>
                    <div class="form-group">
                        <label for="date">Project Date</label>
                        <input type="date" name="date" id="date" class="form-control input-md">
                    </div>
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="customFile" name="image">
                        <label class="custom-file-label" for="customFile">Upload Image</label>
                    </div>
                    <div class="form-group text-right">
                        <button class="btn btn-outline-success btn-lg btn-block">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<div class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; See Me 2019</small>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/freelancer.js"></script>

</body>
</html>